<h2>Create a new Tweet</h2>

<form action='/tweets' method="post" accept-charset="utf-8" id='new-tweet'>
  <label for='message'>Message</label>
  <input type='text' name='message' id='message'/>

  <input type='submit' name='commit' id='create_message'  />
</form>
