@import 'materialize';

html, body, main, .messages {
  min-height: 100%;
}

.btn-small {
  padding-left: 15px;
  padding-right: 25px;
}

.new-message-form {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  padding-left: 2rem;
  input {
    background: white;
  }
}

.messages {
  background: white;
  border-bottom: 1px solid gray;
  min-height: 100%;
  height: 800px
  overflow-y: scroll;
  > .message {
    padding: 15px 20px;
    &:hover {
      background: #eceff1;
    }
  }
}
