@import 'materialize';

html, body, main, .messages {
  min-height: 100%;
}

.btn-small {
  padding-left: 15px;
  padding-right: 25px;
}

.new-message-form {
  background: white;
  border-top: 1px solid gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.messages {
  background: white;
  border-bottom: 1px solid gray;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  > .message {
    padding: 15px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background: #eceff1;
    }
  }
}
