<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Awesome Page!</title>
    <link media="screen" rel="stylesheet" href="/assets/stylesheets/application.css"  />
  </head>
  <body>
    <!-- Ruby will place one of my templates inside of this file, right here where I call "yield"  -->
    <%= yield %>
  </body>
</html>
