<nav>
  <ul>
    <li><%= link_to "Comments", "/comments" %></li>
    <li><%= link_to "Post", "/posts" %></li>
    <li><%= link_to "New Post", "/posts/new" %></li>
    <li><%= link_to "Home", root_path %></li>
  </ul>
</nav>
