<h1> Create a new user!</h1>

<form action="/users" method="POST">
  <input type="text" name="name" id="name" />
  <input type="number" name="age" id="age" />
  <input type="submit" name="commit" id="submit" />
</form>
