@import 'variables';
@import 'reset';
@import 'header';
@import 'posts';
@import 'comments';

a {
  color: $primary-color;
  &:hover {
    color: $primary-color-dark;
  }
}

h2, h3, h4 {
  color: $header-color;
  font-family: $display-font;
}

h4 {
  margin: 0;
}

.content {
  margin: 0 auto;
  max-width: 980px;

  padding: 0 10px;
}

footer small {
  display: block;
  color: $footer-color;
  text-align: center;
}
