.all-posts {
  overflow: hidden;
}

.post {
  box-shadow: 1px 3px 7px $primary-color;
  border-radius: 3px;
  float: left;
  width: 220px;
  height: 400px;
  margin: 8px;
  padding: 0 15px;
  transition: all 0.4s ease;

  &:hover {
    box-shadow: 0px 4px 9px $primary-color;
    transition: all 0.4s ease;
  }

  header h3 a {
    text-decoration: none;
    font-family: "Helvetica", Arial, sans-serif;
    color: $header-color;
    &:hover {
      color: black;
    }
  }
}

.full-post {
  display: inline-block;
  width: 69%;
  vertical-align: top;
  height: 100%;

  .edit-button {
    font-size: 0.8em;
    float:right;
    margin-right: 20px;
  }

  .tag {
    color: $tag-color;
    padding: 5px 15px;
    border-radius: 10%;
    &::before {
      content: "#";
    }
  }
 .body {
    margin: 10px auto;
    max-width: 500px;
    line-height: 1.5;
    font-size: 19px;
  }
}


.form {
  margin: 0 auto;
  width: 200px;
  .input-group {
    margin: 15px 5px;
    label {
      display: block;
      font-size: 0.8em;
      color: $primary-color-dark;
      font-family: $display-font;
    }

    input, textarea {
      width: 100%;
      min-height: 44px;
      font-size: 1.05em;
      line-height: 25px;
      &:focus {
        outline-color: $primary-color;
      }
    }
  }
  .actions {
    margin: 15px 5px;
    input {
      width: 100%;
      background: $primary-color-dark;
      color: white;
      text-align: center;
      height: 50px;
      border: none;
      font-size: 1.1em;
    }
  }
}
