<section class='all-posts'>
  <header>
    <h2>All <%= posts.count %> Posts</h2>
  </header>

  <% posts.each do |post| %>
    <article class='post'>
      <header>
        <h3>
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
        </h3>
      </header>
      <p class='body'>
        <%= post.body %>
      </p>
    </article>
  <% end %>
</section>
