$primary-color: lightblue;
$primary-color-dark: darken($primary-color, 30%);
$header-color: #555555;
$tag-color: #AAAAAA;
$footer-color: #FF00e7;

$display-font: -apple-system, "Helvetica", Arial, sans-serif;
