<!DOCTYPE html>
<html>
  <head>
    <title>Wittr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Wittr</h1>
    </header>
    <div class='container'>
      <div class='col-sm-12'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
